{% extends "base.html" %} {% block content %}

<!-- Page content-->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article>
        <!-- Post header-->
        <header class="mb-4">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1">{{singleBlog.title}}</h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2">
            Posted on {{singleBlog.created_at}}, by {{singleBlog.author}}
          </div>
          <!-- Post category-->
          <a class="badge bg-primary text-decoration-none text-light" href="#!"
            >{{singleBlog.category}}</a
          >
        </header>
        <!-- Preview image figure-->
        <figure class="mb-4">
          <img
            class="img-fluid rounded"
            src="{{singleBlog.featured_img.url}}"
            alt="..."
          />
        </figure>
        <!-- Post content-->
        <section class="mb-5">
          <p class="fs-5 mb-4">{{singleBlog.short_description}}</p>
        </section>
        <section class="mb-5">
          <p class="fs-5 mb-4">{{singleBlog.blog_body}}</p>
        </section>
        <section mb="5">
          <h3>Comments ({{counter}})</h3>
        </section>

        <section mb="5">
          {% if comment %} {% for item in comment %}
          <div class="card mb-4 p-3">
            <div class="card-body">
              <p class="card-text">{{item.comment}}</p>
              <span>{{item.user }} {{item.created_at | timesince}} ago</span>
            </div>
          </div>
          {% endfor %} {% else %}
          <h3>No Comments</h3>

          {% endif %}
        </section>
        {% if user.is_authenticated %}

        <section class="mt-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">Leave a Comment</h5>

              <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                  <textarea
                    name="comment"
                    class="form-control"
                    rows="4"
                    placeholder="Write your comment here..."
                    required
                  ></textarea>
                </div>

                <div class="text-end">
                  <button
                    type="submit"
                    class="btn btn-success px-4 rounded-pill"
                  >
                    Post Comment
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
        {% endif %}
      </article>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
      <!-- Search widget-->
      <div class="card mb-4"></div>
      <!-- Categories widget-->
      <div class="card mb-4 p-3">
        <h4 class="font-italic">Categories</h4>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                {% for i in categories %}
                <li><a href="{% url 'post_by_category' i.id %}">{{i}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Side widget-->
      <div class="card mb-4 p-3">
        <h4 class="font-italic">Follow Us</h4>
        <ol class="list-unstyled">
          {% for i in social_links %}

          <li>
            <a href="{{i.link}}" class="text-primary">{{i.platform_name}}</a>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
