{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col-md-3">{% include 'dashboard/sidebar.html' %}</div>
  <div class="col-md-9">
    {{user}}
    <div class="row">
      <div class="col">
        <div class="card border-default mb-3">
          <div class="card-header text-center text-uppercase font-weight-bold">
            All Categories
          </div>
          <div class="card-body text-dark">
            <div class="card-title text-center">{{categories_count}}</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-default mb-3">
          <div class="card-header text-center text-uppercase font-weight-bold">
            All POsts
          </div>
          <div class="card-body text-dark">
            <div class="card-title text-center">{{blogs_count}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock content %}
