<div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
  <a
    href="{% url 'dashboard' %}"
    class="nav-links text-dark {% if '/dashboard' == request.path %}bg-warning {% endif %}mb-1 p-2"
    >Dashboard</a
  >

  {% if perms.auth.view_user %}
  <a
    href="{% url 'users' %}"
    class="nav-links text-dark {% if '/users' in request.path %}bg-warning {% endif %}mb-1 p-2"
    >Users</a
  >

  {% else %} {% endif %}

  <a
    href="{% url 'category' %}"
    class="nav-links text-dark {% if '/category' in request.path %}bg-warning {% endif %}mb-1 p-2"
    >Categories</a
  >
  <a
    href="{% url 'posts' %}"
    class="nav-links text-dark {% if '/posts' in request.path %}bg-warning {% endif %}mb-1 p-2"
    >Posts</a
  >
  <a href="" class="nav-links text-dark mb-1 p-2">Logout</a>
</div>
